@tailwind base;
@tailwind components;
@tailwind utilities;

/* header start */
.suggestions-list {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  max-height: 150px;
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.292);
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.user-profile-overlay {
  position: fixed;
  top: 0;
  left: 85%;
  transform: translateX(-50%);
  z-index: 1000;
}
/* header end */

/* home start */
.category-box:hover span {
  color: #ffffff;
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.home-carousel-data-button:hover span,
.home-carousel-data-button:hover .arrow-icon2 {
  color: #393d46;
}

.add-to-cart:hover,
.raj:hover {
  background-color: #ffffff;
  border: 1px solid #393d46;
}

.add-to-cart:hover span,
.raj:hover span {
  color: #393d46;
}

.home-container-arrivals-container-big-block:hover,
.home-container-arrivals-container-small-block:hover {
  background-color: #dcdcdc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.home-featured-box:hover,
.arrivals-container-box:hover,
.featured-container-similiar-product-box:hover {
  border: 1px solid #393d46;
  transform: scale(1.1);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.home-featured-box:hover .raj {
  display: flex;
}

.why-choose-us-icon {
  border: 1px solid #9f9f9f;
}
/* home end */

/* categories start */
.categories-container-box:hover .categories-container-box-image,
.categories-container-box:hover h3,
.categories-container-box:hover span {
  color: #ffffff;
}

.categories-container-filter-box-line {
  border: 1px solid #cdcfd1;
}

.arrivals-container-filter-box-options li:hover {
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #393d46;
}

.arrivals-container-filter-box-options li:hover span,
.arrivals-container-filter-box-options li:hover h3 {
  color: #ffffff;
  font-size: 18px;
}

.star-icon {
  color: rgb(235, 235, 16);
  margin-right: 8px;
  font-size: 18px;
}
/* categories end */

/* arrivals start */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.arrivals-container-box:hover .arrivals-container-box-image {
  width: 90%;
  height: 60%;
  /* border: 1px solid black; */
}

.arrivals-container-box:hover .arrivals-container-box-image img {
  object-fit: contain;
}

.add-to-wishlist,
.product-rating {
  border: 1px solid #393d46;
}

.arrivals-container-box:hover .arrivals-container-box-info h3,
.featured-container-similiar-product-box:hover
  .featured-container-similiar-product-box-info
  h3 {
  font-size: 15px;
  margin-top: 5px;
  height: auto;
  font-weight: 600;
}

.arrivals-container-box:hover .arrivals-container-box-info span,
.featured-container-similiar-product-box:hover
  .featured-container-similiar-product-box-info
  span {
  font-size: 16px;
}

.featured-container-similiar-product-box:hover .add-to-wishlist,
.featured-container-similiar-product-box:hover .product-rating {
  opacity: 1;
}

.add-to-wishlist:hover {
  background-color: #393d46;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.add-to-wishlist:hover .heart-icon {
  color: #ffffff;
  font-size: 16px;
}

.add-to-wishlist:hover h2 {
  color: #ffffff;
  font-size: 15.5px;
}

.list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 42px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #393d46;
}

.list-box:hover {
  background-color: #393d46;
}

.list-box:hover span {
  color: #ffffff;
}

.list-box span {
  font-size: 18px;
  font-weight: 400;
  color: #9f9f9f;
}
/* arrivals end */

/* featured start */
.featured-line {
  border: 1px solid #cdcfd1;
}

.minus-box,
.plus-box {
  border: 1px solid #393d46;
}

.minus-box:hover,
.plus-box:hover {
  background-color: #393d46;
  border: 1px solid #ffffff;
}

.minus-box:hover span,
.plus-box:hover span {
  color: #ffffff;
}

.featured-product-atc-button,
.featured-product-atw-button {
  border: 1px solid #ffffff;
}

.featured-product-atc-button:hover,
.featured-product-atw-button:hover {
  background-color: #ffffff;
  border: 1px solid #393d46;
}

.featured-product-atc-button:hover span,
.featured-product-atw-button:hover span,
.featured-product-atc-button:hover .featured-atc-icon,
.featured-product-atw-button:hover .featured-atw-icon {
  color: #393d46;
}

.featured-container-similiar-product-box:hover
  .featured-container-similiar-product-box-image {
  height: 60%;
}

.featured-container-similiar-product-box:hover
  .featured-container-similiar-product-box-image
  img {
  object-fit: contain;
}

.arrivals-container-box:hover .arrivals-container-box-info,
.featured-container-similiar-product-box:hover
  .featured-container-similiar-product-box-info {
  margin-top: 20px;
  height: auto;
}

.featured-container-similiar-product-box:hover .add-to-wishlist,
.arrivals-container-box:hover .add-to-wishlist,
.featured-container-similiar-product-box:hover .product-rating,
.arrivals-container-box:hover .product-rating {
  display: flex;
}
/* featured end */

/* shoppingCart start */
.shoppingCart-container-title-one h3,
.checkout-container-title-two h3,
.completed-container-title-three h3 {
  border: 2px solid #393d46;
  border-radius: 50%;
}

.shoppingCart-container-title-one-line,
.checkout-container-title-two-line {
  border-bottom: 2px solid #393d46;
  width: 55%;
}

.shoppingCart-container-title-two h3,
.shoppingCart-container-title-three h3 {
  border: 2px solid #cdcfd1;
  border-radius: 50%;
}

.shoppingCart-container-title-two-line {
  border-bottom: 2px solid #cdcfd1;
  width: 60%;
}

.shoppingCart-container-data-line {
  border: 1px solid #cdcfd1;
  width: 100%;
}

.shoppingCart-container-data-item-product-image {
  border: 1px solid #9f9f9f;
}

.featured-product-shopping-button,
.featured-product-checkout-button {
  border: 1px solid #393d46;
}

.featured-product-shopping-button:hover,
.featured-product-checkout-button:hover,
.featured-product-completed-button:hover {
  border: 1px solid #ffffff;
  background-color: #393d46;
}

.featured-product-shopping-button:hover span,
.featured-product-checkout-button:hover span,
.featured-product-completed-button:hover span {
  color: #ffffff;
}
/* shoppingCart end */

/* checkout start */
.checkout-container-data-line {
  border: 1px solid #cdcfd1;
  width: 100%;
}

.checkout-container-data-buyer-info-name input,
.checkout-container-data-buyer-info-address input,
.checkout-container-data-buyer-info-contact input,
.checkout-container-data-buyer-info-city input,
.checkout-container-data-buyer-info-state input,
.checkout-container-data-buyer-info-zip-code input,
.checkout-container-data-payment-method-card-name input,
.checkout-container-data-payment-method-card-number input,
.checkout-container-data-payment-method-card-cvv input,
.checkout-container-data-payment-method-card-month input,
.checkout-container-data-payment-method-card-year input {
  border: 1px solid #cdcfd1;
  height: 60px;
  width: 100%;
}

.checkout-container-data-buyer-info-name input:focus,
.checkout-container-data-buyer-info-address input:focus,
.checkout-container-data-buyer-info-contact input:focus,
.checkout-container-data-buyer-info-city input:focus,
.checkout-container-data-buyer-info-state input:focus,
.checkout-container-data-buyer-info-zip-code input:focus,
.checkout-container-data-payment-method-card-name input:focus,
.checkout-container-data-payment-method-card-number input:focus,
.checkout-container-data-payment-method-card-cvv input:focus,
.checkout-container-data-payment-method-card-month input:focus,
.checkout-container-data-payment-method-card-year input:focus {
  outline: none;
}

.featured-product-completed-button {
  border: 1px solid #393d46;
}

.checkout-container-data-payment-method-credit-card,
.checkout-container-data-payment-method-bank-transfer,
.checkout-container-data-payment-method-paypal {
  border: 1px solid #cdcfd1;
}

.checkout-container-data-payment-method-credit-card:hover h3,
.checkout-container-data-payment-method-bank-transfer:hover h3,
.checkout-container-data-payment-method-paypal:hover h3,
.checkout-container-data-payment-method-credit-card:hover span,
.checkout-container-data-payment-method-bank-transfer:hover span,
.checkout-container-data-payment-method-paypal:hover span {
  color: #ffffff;
}
/* checkout end */

/* aboutUs start */
.aboutUs-container-info-social-icon:hover p {
  color: #393d46;
}
/* aboutUs end */

/* profile start */
.profile {
  background-color: #ffffff;
  height: 370px;
  width: 300px;
  margin: 100px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.profile-line {
  width: 100%;
  border: 1px solid #cdcfd1;
  margin-bottom: 10px;
}
/* profile end */

/* wishlist start */
.whishlist-box {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.whishlist-box:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.whishlist-box-info {
  border-bottom: none;
  border: 1px solid black;
}

.whishlist-box-button {
  border: 1px solid black;
}

.whishlist-box-button:hover span {
  color: #393d46;
}
/* wishlist end */

/* orders start */
.orders-container {
  border: 1px solid black;
}

.orders-search-box {
  border: 1px solid #393d46;
}

.orders-line {
  width: 100%;
  border: 1px solid #cdcfd1;
}

.orders-product {
  border: 1px solid #9f9f9f;
}

.orders-product-data-delivered-image {
  border-radius: 50%;
}

.orders-product-box-image {
  height: 95%;
  width: 25%;
  border: 1px solid #9f9f9f;
}

.orders-product-box-info-button {
  border: 1px solid #ffffff;
}

.orders-product-box-info-button:hover {
  background-color: #ffffff;
  border: 1px solid #393d46;
}

.orders-product-box-info-button:hover span,
.orders-product-box-info-button:hover .orders-gtp-icon {
  color: #393d46;
}
/* orders end */

/* user profile start */
.user-profile-container {
  border: 1px solid #393d46;
}

.user-profile-line {
  width: 80%;
  border: 1px solid #cdcfd1;
}

.user-profile-button {
  border: 1px solid #ffffff;
}

.user-profile-button:hover {
  background-color: #ffffff;
  border: 1px solid #393d46;
}

.user-profile-button:hover span {
  color: #393d46;
}
/* user profile end */

/* edit profile start */
.edit-profile-container {
  border: 1px solid #393d46;
}

.edit-profile-line {
  width: 90%;
  border: 1px solid #cdcfd1;
}

.fieldset {
  border: 1px solid #cdcfd1;
}

.fieldset legend {
  position: absolute;
  width: auto;
  top: -10px;
  left: 10px;
  background-color: #ffffff;
  padding: 0 5px;
  color: #393d46;
  font-size: 14px;
  font-weight: 600;
}

.fieldset input {
  color: #393d46;
  font-size: 14px;
  font-weight: 400;
  width: 90%;
  margin-top: 10px;
  margin-left: 15px;
  height: 70%;
  border: none;
  outline: none;
  letter-spacing: 0.3px;
}

.gender-box button {
  border: 1px solid #cdcfd1;
}

.gender-box button:hover {
  background-color: #393d46;
  border: 1px solid #ffffff;
}

.gender-box:hover span {
  color: #ffffff;
}

.edit-profile-button {
  border: 1px solid #ffffff;
}

.edit-profile-button:hover {
  background-color: #ffffff;
  border: 1px solid #393d46;
}

.edit-profile-button:hover span {
  color: #393d46;
}
/* edit profile end */

/* login start */
.login-container {
  border: 1px solid #393d46;
}

.login-number-box {
  border: 1px solid #cdcfd1;
}

.login-number-box-line {
  width: 17.5px;
  border: 1px solid #cdcfd1;
  transform: rotate(90deg);
}

.login-button {
  border: 1px solid #ffffff;
}

.login-button:hover,
.login-google:hover {
  background-color: #ffffff;
  border: 1px solid #393d46;
}

.login-button:hover span,
.login-google:hover span,
.login-google:hover .google-icon {
  color: #393d46;
}

.login-google {
  border: 1px solid #ffffff;
}
/* login end */

/* otp start */
.otp-number-box {
  border: 1px solid #cdcfd1;
}
/* otp end */

/* notfound start */
.not-found-button {
  border: 1px solid #393d46;
}

.not-found-button:hover {
  border: 1px solid #ffffff;
  background-color: #393d46;
}

.not-found-button:hover span {
  color: #ffffff;
}
/* notfound end */

.size-box {
  border: 1px solid #393d46;
}

.size-box:hover span {
  color: #ffffff;
}

.size-box:hover {
  border: 1px solid #ffffff;
  background-color: #393d46;
}
